{%
  set title_classes = [
    'field--label',
    label_display == 'visually_hidden' ? 'sr-only',
  ]
%}

{% if label_hidden %}
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
{% else %}
  <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
  {% for item in items %}
    {{ item.content }}
  {% endfor %}
{% endif %}
