<div class="row margin-top-70 margin-auto max-width-800 margin-bottom-80">
	<div class="col-md-12 text-center">
{% for item in items %}
{{ item.content }}
{% endfor %}
    </div>
</div>














