<section id="intro" class="intro5">
  <div class="scene scene--card">
    <div class="card">
      <div class="card__face card__face--front"><h1 class="text-align-center">Záleží na úhlu pohledu</h1></div>
      <div class="card__face card__face--back"></div>
    </div>
  </div>

  <p class="undtop text-align-center">Jsme tým zkušených PR profesionálů.</p>

  <div class="icons row">
    <div class="col-sm-6 col-md-3 brd"><img src="/sites/default/files/rf/calc-icon.png" /><br />
      <strong>25 </strong><br />
      let na trhu</div>

    <div class="col-sm-6 col-md-3 brd"><img src="/sites/default/files/rf/person-icon.png" /><br />
      <strong>APRA </strong><br />
      zakládající člen</div>

    <div class="col-sm-6 col-md-3 brd"><img src="/sites/default/files/rf/dart-icon.png" /><br />
      <strong>796 </strong><br />
      úspěšných projektů</div>

    <div class="col-sm-6 col-md-3 brd"><img src="/sites/default/files/rf/ribbon-icon.png" /><br />
      <strong>ICCO CMS </strong><br />
      certifikace</div>
  </div>

  <p>&nbsp;</p>
  <div class="margin-top-30 text-center">
    <a href="#contact" class="btn-default btn btn-primary cta">Napište nám</a>
  </div>
</section>
