<div class="owl-carousel {{ paragraph.field_carousel_height.value }} {% if paragraph.field_mouswheel_scrolling.value =='1' %}owl-mousewheel{% endif %} {{ paragraph.field_nav.value }} {{ paragraph.field_hover_effect.value }}" data-items="4" data-dots="false" data-nav="true" data-nav-speed="800" data-tablet-landscape="3" data-tablet-portrait="3" data-mobile-landscape="2" data-mobile-portrait="2">
	{{ content.field_carousel_item }}
</div>