<div class="cc-image bg-image" {% if content.field_slider_image %} style="background-image: url({{file_url(content.field_slider_image[ '#items'].entity.uri.value)}}); background-position: 50% 50% "{% endif %}></div>
