<section id="gallery-list-section" class="gallery-list-carousel">
	<div class="gallery-list-carousel-inner {% if paragraph.field_cboxed_layout.value =='1' %}tt-wrap{% endif %}">
		<div class="gl-carousel-wrap {% if paragraph.field_c_add_padding.value =='0' %}no-padding{% endif %}">
		{{ content.field_carousel_items }}
	   </div> 
	</div> 
</section>

