<div class="isotope-top-content">
	<div class="isotope-filter {{ paragraph.field_filter_align.value }}">
		<div class="isotope-filter-button">
			<span class="ifb-icon"><i class="fa fa-sliders"></i></span>
				<span class="ifb-icon-close"><i class="fa fa-times"></i></span> <!-- effect on small screens!) -->
		</div>
		<ul class="isotope-filter-links">
		<li><a href="#" class="active" data-filter="*">{{"Show All"|t}}</a></li>
         {{ content.field_filter_links }}                
	
		</ul>
	</div>
</div>