<section id="gallery-list-section">
<div class="isotope-wrap{% if paragraph.field_boxed_layout.value =='1' %} tt-wrap{% endif %}">
{% if content.field_heading|render %}{{ content.field_heading }}{% endif %}
{% if content.field_gallery_items|render %}{{ content.field_gallery_items }}{% endif %}
</div>
</section>





