<section id="gallery-single-section">
<div class="isotope-wrap{% if paragraph.field_pboxed_layout.value =='1' %} tt-wrap{% endif %}">
{% if content.field_portfolio_items|render %}{{ content.field_portfolio_items }}{% endif %}
</div>
</section>





