{{ attach_library('sepia/remove-class-from-body') }}
<section id="tt-intro" class="image-intro">
<div class="tt-intro-inner full-height-vh tt-wrap bg-image" style="background-image: url({{file_url(content.field_s_image['#items'].entity.uri.value)}}); background-position: 50% 50%;">
<div class="cover bg-transparent-2-dark"></div>
</div>
{{content.field_content }}
</section>
